@page "/"
@inject HttpClient httpClient
<header class="masthead">
    <div class="container">
        <div class="masthead-heading">showcase, connect and inspire!</div>
        <div class="masthead-subheading">join us and show your work to the world</div>
        <div style="text-align: left;"><a class="btn btn-light btn-xl" href="/authentication/register" style="border-radius: 25px; padding-left: 40px;padding-right: 40px; ">sign up</a></div>
    </div>
</header>
<body>

    <div class="container">
        <div class="row">
            <div class="col-4">
                <p class="black-style">recently joined artists</p>
            </div>
        </div>
        <div class="row">
            @if(kunstenaars != null) { 
            @foreach(var kunstenaar in kunstenaars)
            {
            <div class="col-lg-3 col-6">
                <a href="artists/@kunstenaar.GebruikerId" style="text-decoration:none">
                    <div>
                        <img src="/images/@kunstenaar.Fotopad" alt="" style="width: 100%; height:auto">
                        <p class="artistname">@kunstenaar.Gebruikersnaam</p>
                    </div>
                </a>
            </div>
            }
            }
        </div>
        <div class="row">
            <a class="btn btn-light btn-xl" href="artists" style="border-radius: 25px; padding-left: 30px;padding-right: 30px; border-color: brown;">browse all artists</a>
        </div>
    </div>
    <footer>
        <br>
        <br>
        <br>
    </footer>
</body>

@code{
    private List<Kunstenaar_DTO> kunstenaars;

    protected override async Task OnInitializedAsync()
    {
        kunstenaars = await httpClient.GetFromJsonAsync<List<Kunstenaar_DTO>>("api/Kunstenaar?take=4&recentArtists=true");
        //kunstenaarsCopy = kunstenaars;
    }

}